                       /* Smaller screens */
@media screen and (max-width: 900px) {
  .movie-box , .movie-box-search{
    display:flex;
    padding:2%;
    flex-direction:row;
    margin:2%;
    width:400px;
    height:300px;
    background-color: var(--color4);
    justify-content: center;
    animation: fadeIn 2s ease;
     -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
 }
 .search, .popular, .soon {
   padding-top:50px !important;
   padding-left:20px;
 }
  .popular .movie-box-image , .soon .movie-box-image , .movie-box-search .movie-box-image {
    width:300px;
    height:500px;
  }
  .popular .header ,.soon .header {
    margin-top:10% !important;
    align-self: center;
  }
  .popular {
    padding-top:5%;
  }

  .movie-box .description, .movie-box-search .description {
    display:none;
  }
  .overview-search {
    max-height:270px;
    overflow: hidden;
  }
  .popular {
    height:300px;
  }
}
                              /* Styles */
:root {
  --color1:#1F363D;
  --color2:#70798C;
  --color3:#C1CFDA;
  --color4:#005E7C;
  --color5:#003249;
}
.html {
  margin:0;
  padding:0;
}

.App {
  height:100%;
  width:100%;
  font-family:Roboto light, 'sans-serif';
  margin:0;
  padding:0;
  background-color:var(--color2);
  flex-wrap:wrap;
}

.Navbar {
  background-color: var(--color1);
  position: fixed;
  color: var(--color3);
}

.movie {
  margin:5% auto;
  display:flex;
  flex-direction:row;
  width:60%;
  align-items: center;
  justify-content: center;
}
.logo {
  margin:auto 3%;
}
.message h2 {
  margin-left:25%;
}
            /* Popular */
.popular {
  display:flex;
  height:600px;
  width:98.9vw;
  overflow: scroll;
  background-color: var(--color4);
  margin:0;
  margin-top:6.5%;
  
}
.popular::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
.popular .header {
  word-wrap: break-word;
  width: 20px;
  padding:5px 10px;
  margin:auto 2% auto 2%;
  font-size:2rem;
  align-self:center !important;
  color:gainsboro;
  background-color: red;
  border-radius:10px;
    
}
.description {
  margin:2.2%;
  padding:2.2%;
  width:25vw;
  overflow: hidden;
  
}
.movie-box-image {
  width:500px;

}

.movie-box {
   display:flex;
   flex-direction:row;
   margin:0 2%;
   width:700px;
   height:500px;
   align-self:center;
   background-color: var(--color3);
   justify-content: center;
   animation: fadeIn 2s ease;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}

.movie-box .overview {
  word-wrap:break-word;
}

.votes {
  border: 1px solid #273e63;
  border-radius:50%;
  padding:10px;
  background-color: #273e63;
  color: var(--color3);
}
                     /*Search*/
.movie-box-search{
  display:flex;
  flex-direction:row;
  margin:10% 2% auto 2%;
  width:700px;
  height:500px;
  align-self:center;
  background-color: var(--color3);
  justify-content: center;
  animation: fadeIn 2s ease;
   -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

}

 .search {
  display:flex;
  overflow: scroll;
} 

.search::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.search-input input {
  padding:10px;
  border-radius:9px;
  border:none;
  outline: none;
  width:100%;
}

.search .header {
  word-wrap: break-word;
  width: 19px;
  padding:5px 10px;
  margin:auto 2% 10% 2%;
  font-size:2rem;
  color:gainsboro;
  background-color: red;
  border-radius:10px;
}
                            /* Soon */
.soon {
  display:flex;
  height:600px;
  width:98.9vw;
  overflow: scroll;
  background-color:var(--color5)

}

.soon .header {
  word-wrap: break-word;
  width: 20px;
  padding:5px 10px;
  margin:auto 2% auto 2%;
  align-self: center ;
  font-size:2rem;
  color:gainsboro;
  background-color: orange;
  border-radius:10px;
}

.soon::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

@keyframes fadeIn {
  from{opacity:0;}
  to{opacity:1}
}


