:root {
  --color1:#333333;
  --color2:#48E5C2;
  --color3:#FCFAF9;
  --color4:#F3D3BD;
  --color5:#5E5E5E;
}
.html {
  margin:0;
  padding:0;

}

.App {
  height:100%;
  width:100%;
  font-family:Roboto light, 'sans-serif';
  margin:0;
  padding:0;
  background-color:var(--color1);
  flex-wrap:wrap;
}

.Navbar {
  background-color: var(--color4);
}

.movie {
  margin:5% auto;
  display:flex;
  flex-direction:row;
  width:60%;
  align-items: center;
  justify-content: center;
}
.logo {
  margin:auto 3%;
}
            /* Popular */
.popular {
  display:flex;
  height:600px;
  width:98.9vw;
  overflow: scroll;
  background-color:orange;
  margin:0;
  
}
.popular::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
.description {
  margin:2.2%;
  padding:2.2%;
  width:25vw;
  overflow: hidden;
  
}
.movie-box-image {
  width:500px;

}
.movie-box {
   display:flex;
   flex-direction:row;
   margin:2%;
   width:700px;
   height:500px;
   background-color: var(--color4);
   justify-content: center;
   animation: fadeIn 2s ease;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}
.movie-box .overview {
  word-wrap:break-word;
}
.votes {
  border: 1px solid #273e63;
  border-radius:50%;
  padding:10px;
  background-color: #273e63;
  color: var(--color4);
}
                     /*Search*/
.movie-box-search{
  display:flex;
  flex-direction:row;
  margin:2%;
  width:700px;
  height:500px;
  background-color: var(--color4);
  justify-content: center;
  animation: fadeIn 2s ease;
   -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

}
.search {
  display:flex;
  flex-wrap: wrap;
}
                            /* Soon */
.soon {
  display:flex;
  height:600px;
  width:98.9vw;
  overflow: scroll;
  background-color:red;
}
.soon::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

@keyframes fadeIn {
  from{opacity:0;}
  to{opacity:1}
}